$primary: #7e22ce;

.bg-main {
  background-image: linear-gradient(to top right, #fc5c7d, #6a82fb);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import '~bootstrap/scss/bootstrap';
