$primary: #155e75;

.bg-main {
  background-image: linear-gradient(to top right, #74ebd5, #acb6e5);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-welcome-message {
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.visible {
  opacity: 1;
  visibility: visible;
}
@import '~bootstrap/scss/bootstrap';
