$primary: #155e75;

.bg-main {
  background-image: linear-gradient(to top right, #74ebd5, #acb6e5);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import '~bootstrap/scss/bootstrap';
